.noti-section{
    width: 99%;
    padding: 10px 10px;
    position: relative;
    
    max-height: calc(100vh - 185px);
    overflow-y: scroll;
}


.noti-section::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
    background: transparent;  /* Set scrollbar background to transparent */
}


td{
    font-size: 14px;
    font-weight: 600;
    padding: 20px 5px;font-family: 'Protest Riot', sans-serif;
}