.shop{
    width: 100%;
    background-color: #f8f5f0;
}
.secondImg{
    transition: .6s;
}
.secondImg:hover{
    transform: scale(1.3);
}


.clicked{
    opacity: 0.4;
}


.botonaa{
    color: black;
  border: 1px solid black;
  background-color: transparent;
  font-size: 10px;
  letter-spacing: .22em;
  line-height: 2em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 50px;
  transition: .8s;
}

.botonaa:hover{
    background-color: black;
    color: white;
  
  }



.new{
    background-color: #967844;
    color: white;
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    letter-spacing: 3px;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
}

.new{
    background-color: #967844;
    color: white;
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    letter-spacing: 3px;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
  }

  .uu:hover .new{
    display: none;
  }

  .uu .promo{
    background-color: #967844;
    color: white;
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
  }

  .uu:hover .promo{
    display: none;
  }



  .sold{
    background-color: rgb(19, 19, 19);
    color: rgba(255, 255, 255, 0.774);
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
  }

  .uu:hover .sold{
    display: none;
  }


  .active-nav-pro{
    border-bottom: 1px #727272 solid;
  }

  .active-nav-pro-before {
    border-bottom: 1px solid #727272;
   }

   .review-btn:hover{
    color: wheat;
   }


   .review-btn{
    transition: .7s;
    font-family: Montserrat,sans-serif;
    font-size: 11px;
    letter-spacing: .22em;
    line-height: 2em;
    font-weight: 500;
    text-transform: uppercase;
   }




   .visited-review{
    position: relative;
   }

   .visited-review::before{
    content: '';
    width: 0;
    height: 1px;
    background-color: #727272;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .4s;
   }

   .visited-review:hover::before{
    width: 100%;
   }


   .visited-review-two::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000009;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .4s;
   }

   .visited-review-one::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000009;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .4s;
   }
   .visited-review-three::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000009;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .4s;
   }
  


   @media screen and (max-width: 767px) {
    .effect{
      display: none;
    }
  }
