.second-sec {
    background-color: #f8f5f0;
    width: 100%;
    height: 100vh;
    
}
.three img{
    height: 100vh;
    width: 85%;

}

  
.four{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 110px 42px;
}

.four p{
    line-height: 30px;
    color: #727272;
}
.four button{
    color: black;
    border: 1px solid #2e2e2d;
    background-color: transparent;
    font-size: 11px;
    letter-spacing: .22em;
    line-height: 2em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 50px;
    transition: .7s;
    margin-top: 25px;
}

.four button:hover{
    background-color: #2e2e2d;
    color: white;
    border: none;
}

@media screen and (max-width: 767px) {
    .three{
        text-align: center;
    }
    .three img{
        float: none;
    
    }
    
.four p{
    padding-left: 20px;
}
.four h1{
    padding-left: 20px;
}
.four button{
    margin-left: 20px;
}
  }


  ::selection {
    background-color: #967844;/* Set the background color */
    color: whitesmoke; /* Set the text color */
  }