.hamburger-toggle {
    display: block;
    width: 45px;
    height: 24px;
    position: relative;
    cursor: pointer;
    margin-right: 107px;
  }
  .head-menu .navbar{
    padding: 25px 0;
  }
  .line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #2e2e2d;
    margin: 6px 0;
    transition: .7s;
  }
  .hamburger-toggle:hover .line.middle{
    margin-left: 0;
  }
  .hamburger-toggle:hover .line{
    background-color: #967844;
  }
  .admin-section{
    height: 40px;
    width: 100%;
    background-color: #967844;
    color: #d2c8b6;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    font-family: Open Sans,-apple-system,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  .admin-section ul{
    display: flex;
    gap: 70px;
    position: absolute;
    top: 50%;
    right: 120px;
    transform: translateY(-50%);
  }
  .admin-section ul li a{
    color: #d2c8b6;
    transition: .7s;
    font-size: 14px;
    font-family: Open Sans,-apple-system,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  }
  .admin-section ul li a:hover{
    color: #f8f5f0;
  }
  .admin-section span:hover{
    color: #f8f5f0;
  }
  .admin-section span{
    position: absolute;
    top: 50%;
    left: 93px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: .7s;
  }
  .line.middle {
    margin-left: -7px;
  }
  .menu {
    position: absolute;
    right: 220px;
    gap: 35px;
    
  }
  .yaya{
    background-color: #f8f5f0;
  }
  .menu a{
    color: #2e2e2d;
    font-family: Montserrat,sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: .24em;
    text-transform: uppercase;
    padding: 0;
    position: relative;
    transition: .3s;
  }
  .menu .activee{
    position: relative;
    padding-bottom: 3px;
    cursor: pointer;
  }

 .menu .activee::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #2e2e2d;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.9s;
  }

  .menu a::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #2e2e2d;
    position: absolute;
    bottom: 0;
    left: 7px;
    transition: 0.9s;
  }
  
  .menu a:hover::before {
    width: 90%;
  }
  .menu .activee:hover::before {
    width: 100%;
  }

  .menu-logo {
    margin-left: 92px;
    font-family: "Source Serif Pro",serif;
  }
  .menu a:hover{
    color: #967844;
  }


    @media screen and (max-width: 767px) {
      .hamburger-toggle {
        margin-right: 0;
      }
      .menu-logo {
        margin-left: 0;
      }
    }








.hidden-menu{
  width: 100%;
  height: 35vh;
  background-color: #f8f5f0;
  padding: 35px 25px;
  display: none;
}
.hidden-menu ul li a{
  text-decoration: none;color: #2e2e2d;
  font-family: Montserrat,sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: .24em;
  text-transform: uppercase;
  padding: 3px;
  position: relative;
}
.hidden-menu ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.hidden-menu .navbar-nav .activee{
  position: relative;
  padding: 3px;
}



.hidden-menu .navbar-nav .activee::before{
  content: '';
  width: 100%;
  height: 1px;
  background-color: #2e2e2d;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
}

.hidden-menu ul li a::before {
  content: '';
  width: 0;
  height: 1px;
  background-color: #2e2e2d;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.8s;
}

.hidden-menu ul li a:hover::before {
  width: 90%;
}


.side-menu{
  width: 450px;
  height: 100vh;
  background-color: #f8f5f0;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 50px;
  display: none;
  z-index: 10;
}

.side-menu .side-menu-title{
    color: #967844;
    margin-left: 40px;
    font-weight: bold;
    font-size: 1.2rem;
}
.side-menu .side-menu-title:hover{
  color: #967844;
  margin-left: 40px;
  font-weight: bold;
  font-size: 1.2rem;
}

.side-menu p{
  margin: 40px;
  color: #928c81;
}
.side-menu h3{
  margin: 40px;
  font-family: Montserrat,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #928c81bb;
    font-size: 11px;
    line-height: 1.63em;
    letter-spacing: .16em;
}



.side-menu .social{
  display: flex;
  gap: 15px;
  margin-left: 40px;
}
.side-menu .social span{
    color: #928c81bb;
    font-family: "EB Garamond",serif;
    font-style: italic;
    cursor: pointer;
    transition: .5s;
}

.side-menu .social span:hover{
  color: #967844;
}







.side-menu .side-menu-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 30px;
  right: 10px;
  background-color: transparent;
  
}

.side-menu .side-menu-btn::before,
.side-menu .side-menu-btn::after {
  content: '';
  position: absolute;
  top: 30px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #928c81bb;
  transform: translate(-50%, -50%) rotate(44deg);
  border-radius: 5px;
  font-weight: 100;
  transition: .6s;
  cursor: pointer;
}

.side-menu .side-menu-btn::after {
  transform: translate(-50%, -50%) rotate(-44deg);
}

.side-menu .side-menu-btn:hover::before,
.side-menu .side-menu-btn:hover::after {
  background-color: #967844;
}
