.order-section{
    border-radius: 5px;
    padding: 10px 33px;
    position: relative;
    color: #000009;
    max-height: calc(100vh - 185px);
    overflow-y: scroll;
}

.order-section::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar width */
    background: transparent;  /* Set scrollbar background to transparent */
}


.th{
    text-align: center;
    font-size: 17px;
    font-weight: 300;
    padding: 2px 20px;
    font-family: 'Protest Riot', sans-serif;
}

.td{
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #000009;
    text-align: center;
    font-family: 'Protest Riot', sans-serif;
}

tr:last-of-type td {
    border-bottom: none;
}



