.footer{
    width: 100%;
    background-image: url('https://lacomete.qodeinteractive.com/wp-content/uploads/2019/04/fullscreen-menu-img-1.png');
    background-position: center;
    background-size: cover;
    color: white;
    padding: 141px 100px;
    background-attachment: fixed;
    position: relative;
}




.footer-leftSide{
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer-rightSide-left{
    padding-left: 50px;
}

.footer-rightSide-left h3{
    font-size: 1.4rem;
    line-height: 1.3em;
}

@media (max-width: 768px) {
    .footer{
        padding: 50px 50px;
    }
    .footer-rightSide-right ul{
        display: none;
    }
    .footer-rightSide-right h3{
        display: none;
    }

    .footer-rightSide-left{
        padding: 0;
    }
    .footer-rightSide-left h3{
        padding: 30px 0 0 0;
    }
    .footer-leftSide{
        padding: 20px 0 0 0;
    }
  }

.footer-rightSide-left input:focus{
    outline: none;
    border-top: 0 solid transparent;
    border-left: 0 solid transparent;
    border-right: 0 solid transparent;
}

.footer-rightSide-left input::placeholder{
    font-size: 1rem;
    color: #727272;
    font-family: "EB Garamond",serif;
    font-weight: 400;
}
.footer-rightSide-left input{
    background-color: transparent;
    border-bottom: 1px solid #f5f8f0;
    border-radius: 0;
    color: #f5f8f0;
    padding: 7px 3px;
    font-family: "EB Garamond",serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 35px;

}
.footer-rightSide-right{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 150px;
}

.footer-rightSide-right h3{
    line-height: 1.63em;
    letter-spacing: .20em;
    font-family: Montserrat,sans-serif;
    font-size: 13px;
    font-weight: 700;
}


.footer-rightSide-right a{
    color: #f8f5f0;
    text-decoration: none;
    transition: .7s;
    font-family: Open Sans,-apple-system,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 400;
}

.footer-rightSide-right a:hover{
    color: #967844;
}