.con {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f8f5f0;
    padding-left: 83px;
  }
  
  
  .carde {
    position: relative;
    width: 273px;
    height: 337px;
    cursor: pointer;
    margin: 15px;
  }
  
  .carde img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  @media screen and (max-width: 1300px) {
    .carde{
        margin: 15px auto;
    }
    .con{
      padding-left: 100px;
    }
  }


  ::selection {
    background-color: #967844;
    color: whitesmoke; 
  }
  
  .carde::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #f8f5f0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transition: opacity 0.2s ease-in;
    z-index: 1;
  }
  
  .carde:hover::before {
    opacity: 0.9;
  }
  

  .carde .price{
    position: absolute;
    left: 37px;
    bottom: 60px;
    color: gray;
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    display: none;
    z-index: 1000;
    transition: 0.2s ease-in;
  }



  @media (max-width: 768px) {
    .carde{
      width: 90%;
      height: 85vh;
    }
  }

  







  .carde .name{
    position: absolute;
    left: 37px;
    bottom: 30px;
    display: none;
    z-index: 1000;
    transition: 0.2s ease-in;
    
  }

  .carde .name a{
    text-decoration: none;
    color: black;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    transition: .2s;
  }
  .carde .name a:hover{
    color: #967844;
  }

  .carde:hover .price{
    display: block;
  }
  .carde:hover .name{
    display: block;
    z-index: 21000;
  }

  .carde .new{
    background-color: #967844;
    color: white;
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    letter-spacing: 3px;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
  }

  .carde:hover .new{
    display: none;
  }

  .carde .promo{
    background-color: #967844;
    color: white;
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
  }

  .carde:hover .promo{
    display: none;
  }


  .carde .oldPrice{
    position: absolute;
    left: 75px;
    bottom: 60px;
    font-family: 'EB Garamond', serif;
    color: gray;
    font-size: 1rem;
    display: none;
    z-index: 1000;
    transition: 0.2s ease-in;
    text-decoration: line-through;
  }


  .carde:hover .oldPrice{
    display: block;
  }


  .carde:hover .heart{
    display: block;
  }



  .carde .sold{
    background-color: rgb(19, 19, 19);
    color: rgba(255, 255, 255, 0.774);
    width: 73px;
    height: 18px;
    display: grid;
    font-size: 0.7rem;
    place-content: center;
    font-family: 'Jost', sans-serif;
    position: absolute;
    top: 25px;
    right: 12px;
    transition: .5s;
  }

  .carde:hover .sold{
    display: none;
  }


.headingOne{
  width: 100%;
  padding-top: 130px;
  padding-bottom: 50px;
}

.headingOne .con-title{
  float: left;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #928c81;
  font-size: 11px;
  line-height: 1.63em;
  letter-spacing: .16em;
}


.con-description {
  font-size: 45px;
  line-height: 1.2em;
  color: #2e2e2d;
  font-weight: 400;
  font-family: "EB Garamond",serif;
  padding-top: 33px;
  text-align: left;
  letter-spacing: 1.5px;
}


@media (max-width: 768px) {
  .con-description {
    font-size: 30px;
  }
  .all{
    padding-left: 16px;
  }
  .headingOne{
    padding-top: 90px;
    padding-bottom: 30px;

  }
}

.divHeart {
  width: 19px;
  height: 19px;
  position: absolute;
  right: 135px;
  top: 13px;
  cursor: pointer;
  display: none;
  z-index: 21000;
}


.divView{
  width: 25px;
  height: 25px;
  position: absolute;
  right: 70px;
  top: 13px;
  display: none;
  z-index: 21000;
}

.carde:hover .divHeart{
  display: block;
}
.carde:hover .divView{
  display: block;
}

.viewProduct{
  width: 74%;
  height: 78vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 21000;
  box-shadow: 4px 3px 20px #3535358c;
}


.haha{
  transition: 1s;
}


.haha:hover{
  transform: scale(1.3);
}


.botona{
  color: black;
  border: 1px solid black;
  background-color: transparent;
  font-size: 11px;
  letter-spacing: .22em;
  line-height: 2em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 50px;
  transition: .8s;
}

.botona:hover{
  background-color: black;
  color: white;

}
.yaya{
  font-size: 11px;
  font-weight: 500;
  color:#727272;
  cursor: pointer;
  line-height: .2em;
  text-transform: uppercase;
  transition: .7s;
  letter-spacing: .22em;
  font-family: Montserrat,sans-serif;
}
.yaya:hover{
  color: #967844;
}



.hideView button{
  color: #2e2e2d;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 18px;
  position: relative;
}

.hideView button::before{
  content: '';
  width: 1px;
  height: 30px;
  background-color: #2e2e2d;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
  transition: .6s;

}
.hideView button:hover::before{
  background-color: #967844;
}

.hideView button:hover::after{
  background-color: #967844;
}

.hideView button::after{
  content: '';
  width: 1px;
  height: 30px;
  background-color: #2e2e2d;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  transition: .6s;
}


@media (max-width: 768px) {
  .view-para{
    display: none;
  }
  .viewProduct{
    overflow-y: scroll;
  }
  .viewOperation{
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
}



.carde .add{
  background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20000;
}