.setting-p{
    font-size: 14px;
    font-family: Open Sans,-apple-system,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
    padding: 15px 21px;
    color: #000009
}


.settingInput{
    background-color: white;
    border: 1px solid #000009;
    color: #000009;
    padding: 13px 7px;
    width: 92%;
}

.save{
    width: 92%;
    margin-left: 30px;
}




.yayaSave{
    background-color: #000009;
    color: #f5f8f0;
    width: 30%;
    margin-left: 15px;
}

.yayaSave:hover{
    background-color: #f5f8f0;
    color: #000009;
    border: 1px solid #000009;
}

.settingInput::placeholder{
    color: #000009;
}





.settingInput:focus{
    border: 1px solid white;
}


.settingLabel{
    color: #000009;
    padding: 15px 0 0 30px;
}